.cursor{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    transform: translate3d(-50%,-50%,0);
    top: 0;
    left: 0;
    background-color: white;
  }
  
  .cursor-lazy{
    width: 30px;
    height: 30px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    transform: translate3d(-50%,-50%,0);
    top: 0;
    left: 0;
    transition: 0.1s ease-out;
  }
  